* {
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    font-family: "Monserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background: #fbfbfb;
}

.topbar {
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 30px 87px;
    z-index: 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);    
}

.topbar nav {
    float: left;
}

.topbar, .social {
    float: right;
}

.topbar nav a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
    padding: 0 53px;
}

.topbar nav a:hover, .topbar nav a.active {
    color: #000;
}

.social a {
    opacity: .5;
    padding: 0 12px;
}

.social a:hover {
    opacity: 1;
}

.banniere {
    height: 427px;
background: url(img/header.jpg) no-repeat center center / cover;
}

.main {
    float: left;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 375px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 5%);
    z-index: 2;
    position: relative;
}

.sidebar {
    float: right;
    width: 375px;
    padding: 40px;
    list-style: none;
    z-index: 1;
    position: relative;
}

.sidebar-title {
    font-size: 30px;
    color: #000;
    margin: 35px 0;
}

.sidebar-title:first-child {
    margin-top: 0;
}

.sidebar a {
    text-decoration: none;
    color: #9F9F9F;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    padding: 6px 0;
}

.sidebar ul li:first-child {
    padding-top: 0;
}

.sidebar ul li:last-child {
    padding-bottom: 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar hr {
    border:none;
    background: #c4c4c4;
    height: 1px;
    margin: 50px 0;

}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.article {
    overflow: hidden;
    padding-left: 333px;
    min-height: 203px;
    margin: 50px 0;
}

.article-img {
    float:left;
    width: 308px;
    margin-right: 26px;
}

.article a {
    text-decoration: none;
    color:inherit;
}

.article a:hover {
    text-decoration: underline;
}

.article-img img {
    width: 100%;
    height: auto;
}

.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}

.article-title {
    font-size: 2.25rem;
    color: #000;
    margin: 0 0 10px 0;
    line-height: 1.1;
    font-family: "Cardo", serif;
    margin: 0 0 15px 0;
}

.article p {

}

.footer {
    clear: both;
}